::-webkit-scrollbar {
    /* chrome based */
    width: 0px;
    /* ширина scrollbar'a */
    background: transparent;
    /* опционально */
}

html {
    -ms-overflow-style: none;
    /* IE 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.container-fluid {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(184, 238, 234);
}

#button_field {
    width: 100%;
    box-shadow: 0 10px 18px rgba(5, 172, 223, 0.25), 0 10px 10px rgba(0, 80, 112, 0.22);
}

#form_control {
    position: absolute;
    margin-left: 25%;
    width: 100%;
    max-width: 50%;
    bottom: 0;
}

#output {
    position: relative;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    padding-bottom: 60px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(68, 0, 255, 0), rgba(0, 140, 255, 0.75), rgba(153, 0, 255, 0));
}

input {
    box-shadow: 0 8px 10px rgba(5, 172, 223, 0.25), 0 10px 10px rgba(0, 80, 112, 0.22);
}

h6 {
    color: #2be69e;
    border: 0.5px solid #9ee0d0;
    border-radius: 5px;
    padding: 5px;
}